.container__about {
    align-items: center;
    background-color: var(--backgroung--secondary);
    height: 100vh;
    position: relative;
}

.container__about--title {
    color: var(--text-color);
    font-size: 32px;
    margin: 0 auto;
    padding-top: 7rem;
    width: 80%;
}

.container__about--line {
    margin-left: 12rem;
    width: 5%;
}

.container__about--content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 6rem auto;
}

.description__about {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 300;
    line-height: 2rem;
    width: 35%;
}

.description__about>p {
    padding: 1rem;
}

.content__about {
    width: 30%;
}

.content__about--title {
    color: var(--contrast-area);
    font-size: 22px;
}

.content__about--icon {
    display: flex;
    flex-flow: row wrap;
}

.about--icon {
    margin-right: 6rem;
    margin-top: 2rem;
}

@media screen and (max-width:768px) {
    .container__about--title {
        padding-top: 5rem;
        width: 80%;
    }

    .container__about--line {
        margin-left: 4rem;
        width: 21%;
    }

    .container__about--content {
        flex-direction: column;
        margin: 1.5rem auto;
        width: 85%;
    }

    .description__about {
        line-height: 1.8rem;
    }

    .description__about {
        text-align: center;
        width: 100%;
    }

    .content__about {
        margin-top: 1.3rem;
        width: 100%;
    }

    .content__about--icon {
        justify-content: center;
    }

    .about--icon {
        margin-right: 3rem;
    }
}