.container__about {
    align-items: center;
    background-color: var(--backgroung--secondary);
    height: 100vh;
    position: relative;
}

.container__about--title {
    color: var(--text-color);
    font-size: 32px;
    margin: 0 auto;
    padding-top: 6rem;
    width: 80%;
}

.container__about--line {
    margin-left: 12rem;
    width: 5%;
}

.container__about--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5.5rem auto;
}

.description__about {
    color: var(--text-color);
    font-size: 19px;
    font-weight: 300;
    line-height: 2rem;
    margin-right: 3rem;
    width: 45%;
}

.contrast {
    color: var(--contrast-area);
}

.content__about {
    text-align: center;
    width: 30%;
}

.content__about--title {
    color: var(--contrast-area);
    font-size: 24px;
    padding-bottom: 1.5rem;
}

.content__about--icon {
    box-shadow: 0 0 2.08333rem rgb(0 0 0 / 50%);
    border-radius: 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
}

.about--icon {
    margin: 1rem 2.2rem;
}

@media screen and (max-width:768px) {
    .container__about {
        height: 100%;
        padding-bottom: 2rem;
    }
    .container__about--title {
        width: 85%;
    }

    .container__about--line {
        margin-left: 4rem;
        width: 21%;
    }

    .container__about--content {
        flex-direction: column;
        margin: 1.5rem auto;
        width: 85%;
    }

    .description__about {
        line-height: 1.8rem;
        margin-right: 0rem;
        text-align: start;
        width: 100%;
    }

    .description__about > p {
        padding: 0rem;
    }

    .content__about {
        margin-top: 2.5rem;
        width: 100%;
    }

    .content__about--icon {
        justify-content: center;
        width: 100%;
    }

    .about--icon {
        margin: 0.8rem 1.5rem;
    }
}