.container__cardPortfolio {
    background-color: var(--backgroung--primary);
    border-radius: 1.8rem;
    color: var(--text-color);
    height: 100%;
    margin-top: 2rem;
    width: 333px; 
}

.container__cardPortfolio--title {
    font-size: 18px;
    font-weight: 600;
    padding: 1rem;
}

.container__cardPortfolio--description {
    font-weight: 300;
    line-height: 1rem;
    padding: 0 1rem;
}

.container__cardPortfolio--technologies {
    font-weight: 400;
    padding: .8rem 1rem;
}

.container__cardPortfolio--img {
    padding: 0rem 1rem 1rem 1rem;
    width: 300px;
}

.cardPortfolio--anchor-btn{
    background-color: var(--contrast-area);
    color: var(--text-color);
    display: inline-block;
    padding: .8rem .6rem;
    text-align: center;
    text-decoration: none;
    width: 44.22%;
}

.left {
    border-radius: 0rem 0rem 0rem 1.8rem;
} 

.right {
    border-radius: 0rem 0rem 1.8rem 0rem;
}

.isDisabled {
    pointer-events: none;
}

.cardPortfolio--anchor-btn:hover {
    background-color: var(--btn-hover);
}
