.container__contact {
    background-color: var(--backgroung--primary);
    height: 100vh;
    position: relative;
}

.container__contact--title {
    color: var(--text-color);
    font-size: 32px;
    margin: 0 auto;
    padding-top: 6rem;
    width: 80%;
}

.container__contact--line {
    margin-left: 12rem;
    width: 10.5%;
}

.container__contact--introduction {
    color: var(--text-color); 
    font-size: 22px;
    font-weight: 300;
    margin: 0 auto;
    padding-top: 2rem;
    width: 80%;  
}

.container__contact--info {
    display: flex;
    font-size: 26px;
    font-weight: 300;
    justify-content: space-around;
    margin: 0 auto;
    padding: 4rem 0rem;
    color: var(--text-color);
    width: 80%; 
}

address > p {
    font-size: 30px;
    font-weight: 400;
}

p > span {
    color: var(--contrast-area);
    font-weight: bold;
}

.container__contact--email {
    color: var(--text-color);
    font-size: 22px;
    text-decoration: none;
}

.container__contact__form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container__form__input {
    background-color: var(--backgroung--secondary);
    border: none;
    color: var(--text-color);
    padding: .5rem;
    margin-top: 1rem;
    
}